name: oklch
description: OKLCH is a new way to encode colors (like hex, RGBA, or HSL)
version: 1.0.0
homepage: https://incaview.com
repository: https://github.com/ivofernandes/oklch


environment:
  sdk: '>=3.2.1 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^6.0.0
